
// 垂直水平居中
.f-jcac {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 垂直居中、两端对齐
.f-jsac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-rowwrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

// flex 布局
.flex {
  display: flex;
}
// 垂直居中
.ac { align-items: center; }
// 水平居中
.jc { justify-content: center; }
// 水平-左端开始
.jfs { justify-content: flex-start }
// 水平-右端开始
.jfe { justify-content: flex-end }
// 水平-两端间隔
.jsa { justify-content: space-around; }
// 水平-两端对齐
.jsb { justify-content: space-between; }
// 换行排列
.fww { flex-wrap: wrap; }
// 垂直排列
.fdc { flex-direction: column; }
